Exercise 2
# Data Science Tools and Ecosystem

Exercise3

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4
Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia

Exercise 5
Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn

Exercise 6
| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| VS Code                |

Exercise 7 
### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8 
# This is a simple arithmetic expression to multiply then add integers

In [1]:
print((3*4)+5)

17

Exercise 9 
# This will convert 200 minutes to hours by dividing by 60

In [2]:
200/60

3.3333333333333335

Exercise 10 
**Objectives:**

- List popular languages for Data Science
- Understand basic Python syntax
- Perform simple arithmetic operations in code cells
- Use Markdown cells to document notebooks
- Share notebooks through GitHub

Exercise 11
## Author

Palaash Modi